@if (User.Identity?.IsAuthenticated == true)
{
    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
        <span>Hola, @User.Identity.Name!</span>
        <button type="submit" class="btn btn-link">Cerrar Sesión</button>
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Iniciar Sesión</a>
}