@{
    ViewData["Title"] = "Nueva contraseña";
}

<h2>Nueva contraseña</h2>

<form method="post">
    <input name="password" type="password" placeholder="Nueva contraseña" />
    <button type="submit">Guardar</button>
</form>